@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root{
    --cyan: hsl(179, 62%, 40%);
    --cyan-light: hsl(179, 62%, 45%);
    --bright-yellow: hsl(71, 73%, 49%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Karla', sans-serif;
}

body{
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 90%;
    margin: 2rem;
}

.container__join{
    background-color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 2rem;
}

.container__join__title{
    color: var(--cyan);
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.container__join__subtitle{
    color: var(--bright-yellow);
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.container__join__description{
    color: var(--grayish-blue);
    line-height: 1.6rem;
}

/* Suscription */
.container__subscription{
    background-color: var(--cyan);
    padding: 2rem;
    color: white;
}

.container__subscription__title{
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.container__subscription__price{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.container__subscription__price__amount{
    font-weight: 700;
    font-size: 2rem;
    margin-right: 1rem;
}

.container__subscription__price__frequency{
    color: var(--light-gray)
}

.container__subscription__description{
    margin-bottom: 1.5rem;
}
.container__subscription__btn{
    background-color: var(--bright-yellow);
    border: none;
    width: 100%;
    padding: 1rem 0;
    border-radius: 0.5rem;
    color: white;
    font-weight: 700;
    box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* Why us */
.container__why{
    background-color: var(--cyan-light);
    padding: 2rem;
    color: white;
    border-radius: 0 0 0.5rem 0.5rem;
}

.container__why__title{
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.container__why__text{
    margin-bottom: 0.3rem;
}

@media (min-width: 50rem){
    body{
        height: 100vh;
    }

    main{
        width: 40rem;
    }

    .container{
        display: flex;
        flex-wrap: wrap;
    }

    .container__join{
        flex: 1 1 100%;
    }

    .container__subscription,
    .container__why{
        flex: 1 1 50%;
        border-radius: 0;
    }

    .container__subscription{
        border-radius: 0 0 0 0.5rem;
    }

    .container__why{
        border-radius: 0 0 0.5rem 0;
    }
}